body {
    background-color: #000000;
}

#main {
    z-index: 22;
    
    /* display: inherit; */
    width: 100%;
    position: fixed;
}


#navigation {
   z-index:20;
   display: flex;
   justify-content: center;
}

.navbar {
    height: 50px;
    margin-top: 25px;

}



#nav-logo {
    text-align: center;
}

.netflix-nav {
 
    list-style-type: none;
    display: flex;
    margin-top: 25px;
}
/* .netflix-nav-right{
    margin-top: 25px;

} */
.nav-item {
    color: #ffffff;
    display: inline;
    margin: auto;
    
}

.nav-link {
    font-size: 14px;
    color: #ffffff;
}

.btn-secondary, .btn-secondary:hover {
    
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}


.dropdown-item{
color: white;
background-color: teal;
}



    

      .navbar-toggler {
          color: white;
          position: fixed;
          margin-left: 120px
      }


      @media (max-width: 767px) {
        #right-nav{
            display: none;
        }

        #dsktp-logo{
            display: none;
        }
      }
      @media (min-width: 768px) {
      #logo-mobile{
            display: none;
      }
    }


      @media (max-width: 1099px) {
        #home,#continue, #latest, #kids,#dvd{
            display: none;
        }
      }

      /* 
      ***********************
         VIDEO BACKGROUND  
      *********************** 
         */

        #movie-container{
            z-index: 0;
        }
          #myVideo {
            width: 100%;
          } 

          .description-overlay {
            top: 320px;
            position: absolute;
            margin-left: 20px;
        }
      
      .stnd-txt,#overlay-heading {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
      }
      .stnd-txt {
        text-transform: uppercase;
        font-size:8px;
        margin: auto;
      }

      #overlay-heading  {
          
          font-size: 33px;
          width: 140px;
          font-size: 38px;
          margin-left: 10px;
          line-height: 1;
      }

      #overlay-heading span {
color: #e50916;
      }

      #overlay-buttons{
        display: inline-flex;
        margin-top: 20px;
        margin-left: 15px;
    }

      .btn, .btn-light{
        font-family: 'Roboto', sans-serif;
        font-size:14px;
        padding:8px 35px; 
        display: inline-flex;
      }

      #play-btn {
          font-size: 22px;
          padding-right: 10px;         
      }

      .btn-secondary,.btn-secondary:hover {
        margin: 0 10px;
        background-color: #6c757d;
        /* background-color:#848484; */
      } 

      .btn-secondary:hover {
        opacity: 47%;
      }
      .fas, .fa-info-circle {
padding-right: 5px;
      }
       .btn{
          font-size:18px;
      } 