body {
    background-color: #000000;
}

.black {
  background-color: #000000;
}
#main {
    z-index: 22;
    transition: all 1s ease-in-out;
    /* display: inherit; */
    width: 100%;
    position: fixed;
}


#navigation {
   position: absolute;
   top: 0;
}

.navbar {
    height: 50px;
    margin-top: 25px;

}



#nav-logo {
    text-align: center;
}

.netflix-nav {
 
    list-style-type: none;
    display: inline-flex;
    margin-top: 25px;
}
/* .netflix-nav-right{
    margin-top: 25px;

} */
.nav-item {
    color: #ffffff;
    display: inline;
    margin: auto;
    
}

.nav-link {
    font-size: 14px;
    color: #ffffff;
}

.btn-secondary, .btn-secondary:hover {
    
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}


.dropdown-item{
color: white;
background-color: teal;
}



    

      .navbar-toggler {
          color: white;
          position: fixed;
          margin-left: 120px
      }


      @media (max-width: 767px) {
        #right-nav{
            display: none;
        }

        #dsktp-logo{
            display: none;
        }
      }
      @media (min-width: 768px) {
      #right-nav{
        display: inline-flex;
        justify-content: flex-end;
      }
    }
      @media (min-width: 768px) {
      #logo-mobile{
            display: none;
      }
    }


      @media (max-width: 1099px) {
        #home,#continue, #latest, #kids,#dvd{
            display: none;
        }
      }

      /* 
      ***********************
         VIDEO BACKGROUND  
      *********************** 
         */

        #movie-container{
            z-index: 0;
        }
          #myVideo {
            width: 100%;
          } 

          .description-overlay {
            top: 320px;
            position: fixed;
            margin-left: 20px;
        }
      
      .stnd-txt,#overlay-heading {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
      }
      .stnd-txt {
        text-transform: uppercase;
        font-size:8px;
        margin: auto;
      }

      #overlay-heading  {
          
          font-size: 33px;
          width: 140px;
          font-size: 38px;
          margin-left: 10px;
          line-height: 1;
      }

      #overlay-heading span {
color: #e50916;
      }

      #overlay-buttons{
        display: inline-flex;
        margin-top: 20px;
        margin-left: 15px;
    }

      .btn, .btn-light{
        font-family: 'Roboto', sans-serif;
        font-size:14px;
        padding:8px 35px; 
        display: inline-flex;
      }

      #play-btn {
          font-size: 22px;
          padding-right: 10px;         
      }

      .btn-secondary,.btn-secondary:hover {
        margin: 0 10px;
        background-color: #6c757d;
        /* background-color:#848484; */
      } 

      .btn-secondary:hover {
        opacity: 47%;
      }
      .fas, .fa-info-circle {
padding-right: 5px;
      }
       .btn{
          font-size:18px;
      } 
      @media (min-width: 769px) {
      .description-overlay {
        position: absolute;
      }
      }


      @media (max-width: 1023px) {
        .description-overlay {
      top: 260px;
        }
        #overlay-heading {
          font-size: 22px;
        }
        #overlay-buttons{
          margin-top: 0px;
        }

        .btn {
          font-size: 14px;
          padding: 2px 12px;
      }

      }

      @media (max-width: 692px) {
        .description-overlay {
          top: 184px;
        }
      }


        /* 
      ***********************
         TITLE SELECTION  SECTION
      *********************** 
         */


a:link,
a:hover,
a:active,
a:visited {
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: #95a5a6;
  text-decoration: none;
}
a:hover {
  color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.row {
  overflow: scroll;
  width: 100%;
}
.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0)));
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
 
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
 
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}